# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
db.sqlite3
/staticfiles/
/media/

# 環境変数
.env

# 仮想環境
venv/

# macOS
.DS_Store

# IDE
.idea/
*.sh
~/Library/Application Support/Cursor/User/settings.json
